:root {
  --primary-color: rgb(117, 187, 42);
  --secondary-color: rgb(255 203 5);
  --tertiary-color: rgb(211 231 248);
}

body {
  padding-top: 100px;
}

.navbar {
  background-color: var(--primary-color);
}

h1 {
  color: var(--secondary-color);
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

.button-pokemon {
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.button-pokemon:hover {
  background-color: var(--primary-color);
}

.modal-image {
  max-height: 500px;
}

.btn-warning {
  background-color: var(--secondary-color);
}

#input-container {
  display: inline-block;
}

#autocomplete {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-family: inherit;
  font-size: inherit;
  height: auto;
  padding: 12px;
  width: 207px;
  display: none;
  position: absolute;
  z-index: 100;
}

.suggestions {
  border-bottom: 1px solid #000;
  cursor: pointer;
  margin: 0;
  padding: 3px 0;
}

.suggestions:last-child {
  border: none;
}

.suggestions:hover {
  background-color: var(--tertiary-color);
}

@media screen and (max-width: 605px) {
  body {
    padding-top: 130px;
  }
}

@media screen and (max-width: 452px) {
  body {
    padding-top: 180px;
  }
}
