:root{
  --primary-color:rgb(51, 51, 51);
  --secondary-color:rgb(255, 182, 193);
  --tertiary-color:rgb(30, 144, 255)
}

body{
  padding-top:100px
}

.navbar{
  background-color:var(--primary-color)
}

h1{
  color:var(--secondary-color);
  font-family: 'Tangerine', serif;
  font-size: 60px;
  text-shadow: 4px 4px 4px #aaa;
}

.button-pokemon{
  border-radius:40px;
  border:5px
  solid var(--primary-color);
  color:var(--primary-color)
  }

.button-pokemon:hover{
  background-color:var(--primary-color)
}

.modal-image{
  max-height:300px
}

.btn-warning{
  background-color:var(--secondary-color)
}

#input-container{
  display:inline-block
}

#autocomplete{
  background-color:#fff;
  border:1px solid #ced4da;
  border-radius:.25rem;
  font-family:inherit;
  font-size:inherit;
  height:auto;padding:12px;
  width:207px;
  display:none;
  position:absolute;
  z-index:100
}

.suggestions{
  border-bottom:1px
  solid #000;
  cursor:pointer;
  margin:0;padding:3px 0
}

.suggestions:last-child{
  border:none
}

.suggestions:hover{
  background-color:var(--tertiary-color)
}


@media screen and (max-width: 605px) {
  body {
    padding-top: 130px;
  }
}

@media screen and (max-width: 452px) {
  body {
    padding-top: 180px;
  }
}
